sonarr:
  web-1080p-v4:
    base_url: !env_var SONARR_URL
    api_key: !env_var SONARR_API_KEY

    include:
      - template: sonarr-quality-definition-series
      - template: sonarr-v4-quality-profile-web-1080p
      - template: sonarr-v4-custom-formats-web-1080p

radarr:
  hd-bluray-web:
    base_url: !env_var RADARR_URL
    api_key: !env_var RADARR_API_KEY

    include:
      - template: radarr-quality-definition-movie
      - template: radarr-quality-profile-hd-bluray-web
      - template: radarr-custom-formats-hd-bluray-web
