services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${CONFIG_ROOT}/portainer:/data
    restart: unless-stopped

  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    network_mode: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor=unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ${CONFIG_ROOT}/netdata:/etc/netdata
    restart: unless-stopped
